body {
  background-color: #ddd;
  -webkit-background-size: 100% 100%;
  font-family: "Lucida Grande";
  color : #333;
  padding : 24px 0 24px 0;
  margin: 0;
  -khtml-user-select : none;
  overflow: hidden;
  font-size: 12px;
}

#login {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 12px;
}

#login a {
  color: #555;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
}

#artwork {
  position: absolute;
  bottom: 50px;
  height: 200px;
  width: 199px;
  left: 0;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-image: url(/images/fade-2.png);
  -webkit-background-size: 100% 100%;  
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: none;
  overflow: hidden;
  -moz-user-select : none;
}

#artwork img {
  margin: 20px auto;
  width: 50%;
  opacity: 0;
  -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white));
  border: 1px solid rgba(0,0,0,0.2);
}

#artwork img.loaded {
  width: 70%;
  opacity: 1;
}

/* animation artwork/avatar */
#artwork img, #artist-info img {
  -webkit-transform: scale(0.7,0.0) skew(0deg);
  -webkit-transition-property: all;
  -webkit-transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
}

#artwork img.loaded, #artist-info img.loaded {
  -webkit-transform: scale(1.0,1.0) skew(0deg);
}

#main-container {
  position: absolute;
  top: 80px;
  bottom: 50px;
  right: 0;
  left: 200px;
  background: white;
  -moz-user-select : none;
}

#lists {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 0px;
  background: white;
  -moz-user-select : none;
}

#lists > div {
}

#lists > div > div {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: visible;
}

tbody > div {
  padding : 200px;
  font-size: 20px;
  -webkit-background-size: 100% 100%;
}

tbody > div > div {
  margin : 0 auto;
  opacity : 0.6;
  max-width: 100px;
}

tbody > div > div > marquee, tbody > div > div > div {
  float: left;
}

table.list-header {
  width: 100%;
  background-color: #ddd;
  background-image: url(/images/fade-22px.png);
  -webkit-background-size: 100% 100%;
}

table.list-header th {
  height: 18px;
}

table {
  font-size: 12px;
  padding: 0 0px;
  display: block;
}
  
  table thead, table tbody {
    display: block;
  }
  
  table thead {
    overflow: hidden;
  }
  
  table thead tr {
    display: block;
    text-align: left;
    font-size: 13px;
    padding-right: 16px;
    height: 20px;
  }

  
  table thead tr th {
    display : block;
    float: left;
    width: 120px;
    padding-left: 5px;
    margin: 0;
    border-right: 1px solid #aaa;
    overflow: hidden;
  }
  
  #track-drag-holder {
    overflow: visible;
  }

  table tbody tr {
    display: block;
    cursor: pointer;
    padding: 0px 0 0 0;
    white-space: nowrap;
    overflow: hidden;
/*    -webkit-transition-property: background-color, opacity;
    -webkit-transition-duration: .2s, .2s;
    -webkit-transition-timing-function: cubic-bezier(0.0, 0.0, 0.8, 1.0);*/
  }

  table tbody tr.track-hidden {
    opacity: 0;
  }

  table tbody, table thead {
    display: block;
  }

  table tbody tr td {
    width: 120px;
    padding-right: 4px;
    height: 17px;
    padding-left: 2px;
    border-right: 1px solid rgba(0,0,0,0.1);
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }

  table tbody tr td:first-child, table thead tr th:first-child {
    width: 30px;
  }

  table tbody tr:nth-child(odd) {
    background-color: rgba(240,240,255,1);
  }

/*  table tbody tr:nth-child(odd):hover {
    background: rgba(255,255,150,0.2);
  }
*/
  table tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,1);
  }

  table tbody tr.private {
    background-color: rgba(250,180,18,0.4);
  }

  table tbody tr.playing {
    background-image: url(/images/speaker-icon.png);
    background-repeat: no-repeat;
    background-position: 3px -22px;
  }

  body.playing table tbody tr.playing {
    background-image: url(/images/speaker-icon.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
  }

  table tbody tr.selected {
    background-color: rgba(63,111,211,1);
  }

  table tbody tr.selected td, table tbody tr.selected td a {
    color: white;
  }

/*  table tbody tr:nth-child(even):hover {
    background: rgba(255,255,150,0.2);
  }
*/
  table tbody a {
    color : black;
    text-decoration: none;
  }

  table tbody a:hover {
    text-decoration: underline;
  }

.hidden {
  display: none;
}

#check-track-on-sc {
  position : absolute;
  top: 60px;
  left: 150px;
}

#check-track-on-sc a {
  font-size: 9px;
  color: #333;
}

#create-smart-playlist {
  position: absolute;
  border-bottom: 1px solid #aaa;
  right: 0;
  left: 0px;
  top: 0px;
  height: 140px;
  margin: 0;
  padding: 5px 0 0 9px;
  background-image: url(/images/fade-160px.png);
  -webkit-background-size: 100% 100%;  
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: none;
  overflow: hidden;
  -moz-user-select : none;
}

#pl-bpm-range-slider {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 149px;
  background-image: url(/images/icons.png);
  background-position: -150px 56px;
  width: 104px;
  height: 10px;
}

.buttons {

}

  .buttons input, .buttons a {
    float: right;
  }

#artist-info {
  position: absolute;
  border-bottom: 1px solid #aaa;
  right: 0;
  left: 0px;
  top: 0px;
  height: 150px;
  margin: 0;
  padding: 5px 0 0 9px;
  background-image: url(/images/fade-2.png);
  -webkit-background-size: 100% 100%;  
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: none;
  overflow: hidden;
  -moz-user-select : none;
}

  #artist-info a.close {
    float: right;
    margin-right: 20px;
    text-decoration: none;
  }

  #artist-info div:first-child {
    position: absolute;
    left: 150px;
    right: 0;
  }

  #artist-info img {
    position : absolute;
    left: 65px;
    margin-left: -55px;
    opacity: 0;
    width: 55px;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white));
  }
  
  #artist-info img.loaded {
    width: 110px;
    opacity: 1;
  }

  #artist-info h3 {
    margin: 10px 0 0 0;
  }

  #artist-info h3 span {
    font-size: 14px;
    color: #555;
  }

  #artist-info p {
    font-size: 12px;
    padding-right: 20px;
    max-height: 70px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  
  #artist-info .check-on-sc {
    font-size: 10px;
    color: #555;
  }

#sidebar {
  position: absolute;
  border-right: 1px solid #aaa;
  width: 199px;
  left: 0;
  top: 80px;
  bottom: 50px;
}

#playlists {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  bottom: 25px;
  margin: 0;
  padding: 0px 0 0 0px;
  border-bottom: 1px solid #aaa;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url(/images/fade-long.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
  -webkit-background-size: 100% 100%;  
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -moz-user-select : none;
}

  #playlists li {
    display: block;
    margin: 0px 0px 0px 0;
    padding: 0 0px 0 20px;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    position: relative;
  }

  /* playlist icons */
  #playlists li span {
    background-image: url(/images/icons.png);
    background-position: -209px -98px;
    display: block;
    position: absolute;
    left: 4px;
    top: 3px;
    width: 17px;
    height: 20px;
  }

  #playlists li:first-child {

  }

  #playlists li.droppable-active {
    /*background: url(/images/fade-hilite-2.svg);*/
  }

  #playlists li.droppable-hover {
    background: #999;
/*    background-image: url(/images/fade-hilite-2.svg);    
*/  }

  #playlists li.active {
    font-weight: bold;
    background-color: rgba(63,111,211,1);
    background-image: url(/images/playlist-fade.png);
    background-repeat: repeat-x;
    -webkit-background-size: 100% 100%;
  }
  
  #playlists li.active a {
    color: white;
  }
  
  #playlists li:hover {
    -webkit-background-size: 100% 100%;    
  }
  
  #playlists li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }
  
  #playlists li a.delete {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 11px;
    height: 11px;
    background-image: url(/images/icons.png);
    background-position: -289px -6px;
    padding: 0;
    display: none;
  }

  /* auto-show action if logged-in */
  .logged-in #playlists li a.delete, .logged-in #playlists li a.share, .logged-in #playlists li a.collaborative {
    display: block;
  }

  #playlists li a.share {
    position: absolute;
    right: 21px;
    top: 7px;
    display: none;
    width: 12px;
    height: 12px;
    background-image: url(/images/icons.png);
    background-position: -311px -6px;
    padding: 0;
  }

  #playlists li a.collaborative {
    position: absolute;
    right: 40px;
    top: 7px;
    display: none;
    width: 12px;
    height: 12px;
    background-image: url(/images/icons.png);
    padding: 0;
    background-position: -337px -26px;    
  }

  #playlists li.collaborative a.collaborative {
    background-position: -337px -5px;
  }

#player-display {
  position: absolute;
  top: 0px;
  left: 150px;
  right: 250px;  
}

  #progress {
    position: absolute;
    top: 35px;
    left: 0px;
    height: 23px;
    width: 100%;
  /*  background-image: url(/images/fade-wave.svg);
  */  -webkit-background-size: 100% 100%;
    -webkit-border-radius: 5px;
    -webkit-border: solid #c4c4c4 2px;
    background: rgba(126,144,192,1);
    display: none;
    /*-webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);*/
    -webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white));
  }

  #progress:hover {
    cursor: pointer;
  }

    #progress span.marker {
      background: rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 0px 3px rgba(255,255,255,0.2);
      height: 23px;
      position: absolute;
      width: 1px;
      display: block;
      top: 0;
    }

    #progress div.inner {
      opacity: 0.4;
      width: 0%;
      height: 23px;
      background: #aaa;
      border-right: 1px solid black;
      -webkit-border-radius: 0px;
    }

    #progress div.loading {
      opacity: 0.4;
      width: 0%;
      height: 3px;
      background: rgba(0,0,0,0.3);
      bottom: 0;
      position: absolute;
      -webkit-border-radius: 5px;
    }
  
    #timecodes {
      position: absolute;
      top: 17px;
      right: 0px;
      background: rgba(255,255,255,0.5);
      -webkit-border-radius: 5px;
      font-size: 10px;
      color: #333;
      padding: 2px;
      z-index: 200;
      display: none;
      -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.5);
    }

    #artist {
      position: absolute;
      top: 0px;
      left: 0px;
      text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      font-size: 16px;
      color: #333;
      padding: 2px;
      display: none;
      z-index: 200;
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow: hidden;
    }
  
    #artist div {
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow: hidden;    
    }
  
    #artist a {
      color: #333;
      display: block;
    }
  
    .artist-link {
      font-size: 13px;
    }

/* lists loading throbber */
#throbber {
  width: 32px;
  height: 32px;
  background-image: url(/images/throbber.gif);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 16px 0 0 -16px;
}

#logo {
  position : absolute;
  top: -8px;
  left: 10px;
  width: 134px;
}

#create-playlists {
  position : absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 2px;
}

#add-playlist, #add-smart-playlist {
  display : block;
  float: left;
  height: 19px;
  background-image: url(/images/icons.png);
  margin: 1px 2px 1px 2px;
  padding: 3px 0 0 25px;
  font-size: 11px;
  color: #555;
  outline: 0;
}

#add-playlist {
  width: 50px;
  background-position: -395px -68px;
}

#add-playlist.click {
  background-position: -395px -95px;
}

#add-playlist:hover, #add-smart-playlist:hover {
  text-decoration: none;
}

#add-smart-playlist {
  width: 79px;
  background-position: -272px -68px;
}

#add-smart-playlist.click {
  background-position: -272px -95px;
}

#q {
  -moz-border-radius : 5px;
  padding: 2px 5px 2px 5px;
  border: 1px solid #aaa;
  position: absolute;
  right: 10px;
  top: 35px;
  width: 210px;
  color: #777;
  font-size: 14px;
}

#q:focus {
  color: black;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 79px;
  border-bottom: 1px solid #aaa;
  background: url(/images/fade-2.png);
  -webkit-background-size: 100% 100%;
  padding: 0em 0em 0 0em;
  -moz-user-select : none;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 49px;
  left: 0;
  right: 0;
  border-top: 1px solid #aaa;
  background-color: #555;
  background-image: url(/images/fade-bottom.png);
  background-position: 100% 0;
  -webkit-background-size: 100% 100%;
  -moz-user-select : none;
}

#volume {
  position: absolute;
  top: 20px;
  left: 149px;
  background-image: url(/images/icons.png);
  background-position: -150px 56px;
  width: 104px;
  height: 10px;  
}

#speaker-mute {
  position: absolute;
  top: 18px;
  left: 134px;
  height: 15px;
  width: 11px;
  background-image: url(/images/icons.png);
  background-position: -139px 58px;
}

#speaker {
  position: absolute;
  top: 18px;
  left: 257px;
  height: 15px;
  width: 18px;
  background-image: url(/images/icons.png);
  background-position: -254px 58px;
}

.ui-slider-handle {
  width: 12px;
  height: 12px;
  top: -1px;
  background-image: url(/images/icons.png);
  background-position: -151px 79px;
  position: absolute;
}

#footer input[type=image] {
  position: absolute;  
  outline: 0;
  border: 0;
}

#play {
  top: 7px;
  left: 45px;
  width: 35px;
  height: 35px;
  background-image: url(/images/icons.png);
  background-position: -53px -28px;
}

#play.click {
  background-position: -53px 68px;
}

.playing #play {
  background-position: -411px -28px;
}

.playing #play.click {
  background-position: -411px 68px;
}

#next {
  top: 10px;
  left: 86px;
  width: 29px;
  height: 29px;
  background-image: url(/images/icons.png);
  background-position: -94px -31px;
}

#next.click {
  background-position: -94px 65px;
}

#prev {
  top: 10px;
  left: 11px;
  width: 29px;
  height: 29px;
  background-image: url(/images/icons.png);
  background-position: -18px -31px;
}

#prev.click {
  background-position: -18px 65px;
}

#rand {
  top: 13px;
  right: 68px;
  width: 42px;
  height: 22px;
  background-image: url(/images/icons.png);
  background-position: -654px -35px;
}

#rand.click {
  background-position: -654px 61px;
}

#rand.on {
  background-position: -541px -35px;
}

#rand.on.click {
  background-position: -541px 61px;
}

#loop {
  top: 13px;
  right: 13px;
  width: 42px;
  height: 22px;
  background-image: url(/images/icons.png);
  background-position: -703px -35px;
}

#loop.click {
  background-position: -703px 61px;
}

#loop.on {
  background-position: -590px -35px;
}

#loop.on.click {
  background-position: -590px 61px;
}

#templates {
  display:none;
}

#flash {
  font-size: 16px;
  opacity: 0;
  -webkit-transform: scale(0.7,0.0) skew(0deg);
  position : fixed;
  z-index: 10000;
  bottom: 100px;
  width: 100%;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.0, 0.0, 0.6, 1.0);
}

#flash.on {
  -webkit-transform: scale(1.0,1.0) skew(0deg);
  opacity: 1.0;
  position : fixed;
  bottom: 100px;
  width: 100%;
}
  #flash div {
    margin: 0 auto;
    max-width: 50%;
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: white;
    padding: 1em;
    -webkit-border-radius: 5px;
    -webkit-box-shadow : 3px 3px 5px rgba(0,0,0,0.3);
    -moz-box-shadow : 3px 3px 5px rgba(0,0,0,0.3);
  }

.droppable-placeholder {
  height: 0px;
  display: block;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.4);
}

#track-drag-holder tr {
  background: white;
  border : 1px solid #555;
  width: 700px;
  height: 17px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

#track-drag-holder tr td {
  margin: 0;
  padding: 0;
  height: 17px;
  overflow: hidden;
  display: block;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.ui-droppable.ui-sortable-helper {
  width: 100%;
}

/* clearing */
#header:after,#playlists:after, #lists table tr:after, .buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}